{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint", 
        "plugin:prettier/recommended" 
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "semi": 2
    }
}